/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #1c1c1c;
  color: #ffffff;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background-color: #2d2d2d;
}

.logo img{
    width: 20%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #b26f2e;
}

/* Hero section */
.hero-video {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  filter: brightness(0.5); 
}

.contenido-hero {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  padding: 30px;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
}


.contenido-hero h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.contenido-hero p {
  font-size: 18px;
  margin-bottom: 30px;
}


.btn {
  background-color: #b26f2e;
  color: #fff;
  padding: 12px 24px;
  border: none;
  text-decoration: none;
  font-weight: bold;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #a05f25;
}

/* Página de Modelos */
.modelos {
  padding: 60px;
  background-color: #1c1c1c;
  text-align: center;
}

.modelos h1 {
  font-size: 36px;
  color: #b26f2e;
  margin-bottom: 40px;
}

.modelos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.modelo-card {
  background-color: #2d2d2d;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.modelo-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(178, 111, 46, 0.5);
}

.modelo-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.modelo-card h2 {
  color: #b26f2e;
  margin-bottom: 10px;
}

.modelo-card p {
  font-size: 14px;
  line-height: 1.6;
}
